.product-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-price, .brand {
    font-family: "Trirong", serif;
    font-size: 17px;
}

.name-price {
    font-weight: bold;
    text-align: center;
}

.image {
    width: 250px;
    height: 200px;
    object-fit: contain;
    border: 1px solid #ccc;
}