.container-cart {
    padding-left: 10px;
}

.title-cart {
    text-align: left;
    font-family: "Bebas Neue", serif;
    font-size: 40px;
}

.product-container {
    display: flex;
    padding-bottom: 30px;
}

.container_1-cart {
    padding-top: 20px;
}

.container_3-cart {
    padding-left: 15px;
}

.subtotal-container {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #e8e9eb;
}

.subtotal-title {
    font-family: "Abel", serif;
    font-weight: bold;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 5px;
}

.checkout-button {
    position: absolute;
    padding: 10px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.shopping-cart-checkout {
    font-family: "Bebas Neue", serif;
    font-size: 21px;
    background-color: #DCDCDC;
}

.image-cart {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 1px solid #ccc;
}

.name-cart, .price-cart, .brand-cart, .color-cart {
    font-family: "Abel", serif;
    font-size: 18px;
}

.name-cart, .price-cart {
    font-weight: bold;
}
