.title {
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-size: 60px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.cart-button {
    position: absolute;
    padding: 10px;
    top: 10px;
}

.main {
    display: flex;
}

.large-icon {
    font-size: 22px;
}

.btn-light {
    background-color: #DCDCDC;
}